input,
select,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 600px;
  padding: 20px 0px 20px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px 12px 0px;
  width: 80%;
}

.formBox {
  margin-left: 20px;
  background: none;
  outline: none;
  border-radius: 4px;
  height: 40px;
  width: 350px;
  padding: 0px 10px 0px 5px;
  font-size: 12px;
  font-weight: 500;
  color: #263238;
  letter-spacing: 1px;
  border: 1px solid #eeeeee;
}

.btn {
  margin-top: 20px;
  display: flex;
  border-radius: 4px;
  background-color: orange;
  border: none;
  outline: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.inputErr {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 80%;
}

.errText {
  margin: 0px 5px 0px 25px;
  font-size: 12px;
  color: red;
}
